<p style="color: green"><%= notice %></p>

<h1>Movies</h1>
<%=text_field_tag :search, "", placeholder: "Put something to search", data: {reflex: "keyup->MovieForm#find"} %>

<div id="movies">
  <%=render collection: @movies, partial: "movie" %>
</div>

<%= link_to "New movie", new_movie_path %>
